<div class="container">
  <div class="row justify-content-center">
    <h3>Make a reservation</h3>
  </div>
  <%= simple_form_for [:profile, @booking] do |f| %>
  <div class="col-auto">
    <%= f.input :start_date , discard_minute: true %>
    <%= f.input :end_date , discard_minute: true %>
    <div class="row justify-content-center">
    <%= f.button :submit, class: 'btn btn-flat' %>
  </div>
  <% end %>
  </div>
