.add-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;

  & input {
    width: 40vw;
  }
}

.form-check {
  padding-left: .40rem;
}

.form-control-label, label.file {
  padding-left: .40rem;
}

.form-control-file {
  padding-left: .40rem;
}

