.booking-conf {
  display: flex;
  background-color: white;
}

.cards-container-booking-conf {
  width: 100vw;
  margin: 0px 10px 10px 10px;
  padding: 0px 10px 10px 10px;
}

.single-card-booking-conf {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}

.single-card-image-booking-conf{
  text-align: center;
  height: 100%;
  width : 100%;
  margin: 4px;
}

.single-card-image-booking-conf img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 4px;
}

.single-card-content-booking-conf {
 width : 100%;
 margin: 4px;
 padding-left: 30px;


}

.single-card-content-booking-conf h4 {
  color : rgb(72, 72, 72);
  font-size: 20px;
}

.single-card-content-booking-conf h5 {
  color : rgb(72, 72, 72);
  font-size: 16px;
}

.single-card-content-booking-conf a {
  margin: 0 auto;
  width: 150px;
}

.card-hourly-rate-booking-conf {
font-size: 16px;
font-weight: bold;
color: #0B3948;
margin-bottom : 20px;
}

// #map-booking-conf {
//   width: 100vw;
//   height: 100vh;
//   position: sticky;
//   top: 0;
// //   border: 1px solid rgb(235, 235, 235);
// }
.title-booking-conf {
  color : rgb(72, 72, 72);
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.card-information {
  display: flex;
  margin-top:10px;
  align-self: stretch;
  justify-content: space-between;

}

